body {
    background-color: darkgray;
}
main {
    display: flex;
    flex-direction: column;
}
/* nav bar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #282730;
    align-items: center;
    margin: -10px;
    padding-left: 20px;
}
@font-face {
    font-family: 'arcane_nineregular';
    src: url('arcane-nine-webfont.woff2') format('woff2'),
         url('arcane-nine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1 {
    font-family:'arcane_nineregular';
    color: #8a8255;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'arcane_nineregular';
}
.links {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
a {
    text-decoration: none;
    color: white;
}
.left, 
.right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

/* page */
.page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    background-color: #1d1c25;
    margin-left: -10px;
    margin-right: -10px;

}
.page_text {
    width: 300px;
    color: #9b9992;
}
h1 {
    width: 250px;
}
.info {
    max-width: 200px;
    margin-right: 300px;
}
.image1 {
    height: 300px;
    width: auto;
}
button {
    padding: 8px 16px;
    border-radius: 8px;
}
button.watch {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    margin-left: 220px;
}
button.watch:hover {
    background: #2c4fb6;
}

/* characters */
.charimg {
    max-height: 200px;
    max-width: 200px;
    margin-bottom: auto;
}
.charimg:hover{
    opacity: 0.5;
}
.containerbg {
    background-color: #1d1c25;
    margin: -10px;
    padding-bottom: 30px;
}
.bigcontainer {
    display: flex;
    gap: 52px;
    justify-content: center;
    align-items: center;
}
.mincontain {
    max-width: 200px;
}
.characters {
    text-align: center;
    color: #9b9992;
}
/* quote page */
.quotepage {
    background-color: #282730;
    margin-left: -10px;
    margin-right: -10px;
    height: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote {
    font-family: 'arcane_nineregular';
    font-size: 32px;
    color: #8a8255;
}
.viktor {
    font-family: 'arcane_nineregular';
    font-size: 28px;
    color: rgb(235, 231, 199);
    margin-top: 100px;
}
.callpage {
    background-color: #1d1c25;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.bluebox {
    background-color: #282730;
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    gap: 16px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    
}
button.now {
    position: relative;
    background-color: royalblue;
    border: 1px solid royalblue;
    color: white;
    flex-shrink: 0;
}
.arcane {
    font-family: 'arcane_nineregular';
    color:#8a8255;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}
.lasttext {
    width: 300px;
    color: #9b9992;
    font-family: 'arcane_nineregular';
}
.bbox {
    margin-right: 300px;
    padding-left: 20px;
}
button.now:hover {
    background: #2c4fb6;
}
/* footer section */
.footer {
    background-color: #282730;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10px;
    padding: 20px;
}
.footertext {
    font-family: 'arcane_nineregular';
    font-size: 32px;
    color: #8a8255;
}